@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root{
  /* COLORS */
  --brand: #003253;
  --gradient: linear-gradient(270deg, #1ac6e1 50%, #0886be 100%);
  --white: #fff;
  --black: #000;
  --alt: #666;

  /* Font Size */
  --fourtyFive: 2rem;
  --thirtyFour: 1.75rem;
  --twentyFour: 1.25rem;
  --twenty: 1.125rem;
  --eighteen: 1rem;
  --sixteen: 1rem;
  --fourteen: .875rem;
  --twelve: .75rem;
  --ten: .625rem;
  --eight: .5rem;
}

@media screen and (min-weight: 768px) {
  :root {
    /* Font Size */
    --fourtyFive: 2.8125rem;
    --thirtyFour: 2.125rem;
    --twentyFour: 1.5rem;
    --twenty: 1.25rem;
    --eighteen: 1.125rem;
    --sixteen: 1rem;
    --fourteen: .875rem;
    --twelve: .75rem;
    --ten: .625rem;
    --eight: .5rem;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--brand);
  color: var(--white);
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

p {
  font-size: var(--sixteen);
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--white);
  text-transform: none;
}

h1 {
  font-size: var(--fourtyFive);
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  color: var(--white);
}

h2 {
  font-size: var(--thirtyFour);
  line-height: 34px;
  font-weight: 700;
}

h3 {
  font-size: var(--thirtyFour);
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: var(--twenty);
  line-height: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: var(--eighteen);
  font-weight: 500;
  line-height: 1.5rem;
}

h6 {
  font-size: var(--sixteen);
  line-height: 1.2rem;
  font-weight: 600;
}

/* Buttons */
button {
  font-family: var(--font-primary);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(0.9, 0.9);
}

